<!DOCTYPE html>
<html lang = "ko">

<html>
    <head>
        <title>
            TransCompiler for beginner
        </title>

            <style>
                .select {margin-left : 220px; margin-right : 100px; width : 100pt; height : 30pt}
                .select2 {margin-left : 220px; width : 100pt; height : 30pt}
            </style> 

    </head>
    <body>
        <h3>TransCompiler for beginner</h3>
        <hr>
        <form action "\Main" method = "post">
            <textarea name = 'input_field' style = "margin-right :  100px; margin-left : 100px;" value = "?" placeholder = "번역 할 코드 입력" rows = "30" cols = "50">{{origin}}</textarea>

            <textarea name = 'output_field' rows = "30" cols = "50">{{value}}</textarea> <br />

                <p><select name = "input_language" class = "select">
                    <option value = "none" selected>===언어 선택===</option>
                    <option value = "1">C</option>
                    <option value = "2">C#</option>
                    <option value = "3">C++</option>
                    <option value = "4">Python</option>
                    <option value = "5">Java</option>
                </select>

                <select name = "output_language" class = "select2">
                    <option value = "none" selected>===언어 선택===</option>
                    <option value = "1">C</option>
                    <option value = "2">C#</option>
                    <option value = "3">C++</option>
                    <option value = "4">Python</option>
                    <option value = "5">Java</option>
                </select>
                <center> <p> <input type = "submit" value = "번역" style = "width : 60pt; height : 30pt">  </center>

        </form>

    </body>
</html>
